languages/
upgrade/
uploads/
/index.php
*.xcworkspace
.DS_Store
.gitignore

themes/index.php
themes/twentyfifteen/
themes/twentyfourteen/
themes/twentysixteen/
themes/twentythirteen/

themes/cute_pc/images/mv/

/plugins/
!/plugins/szc_switch/

